By: Bishnu Poudel, Mohammed Radwan

## Benchmark Sorting Algorithms: Run timing and store in a data frame then pickle it

In [31]:
import nbimporter
from quick_sort import *
from merge_sort import *
from heap_sort_heap_size import *

## Create a data frame

In [32]:
import pandas as pd
import numpy as np
columns = ['Sort_Type','Data_Type_or_List_type','List_length','Runtimes','Number_of_repeatitions','Datetime']
df_ = pd.DataFrame( columns=columns)
df_

Empty DataFrame
Columns: [Sort_Type, Data_Type_or_List_type, List_length, Runtimes, Number_of_repeatitions, Datetime]
Index: []

## Timeit function

In [33]:
import numpy as np
import timeit
import copy

def timing_function(number_of_data_points, sort_type, seed_number=12235):
    np.random.seed (seed_number)
    test_data = np.random.random(number_of_data_points ,)
    test_data = list(test_data)
    test_data= sorted(test_data, reverse=True)

    clock = timeit.Timer ( stmt ='sort_func ( copy ( data) ) ', 
                           globals ={ 'sort_func': sort_type ,
                            'data': test_data ,
                            'copy': copy.copy })
    n_ar , t_ar = clock.autorange ()
    t = clock.repeat ( repeat =7, number = n_ar )
    return t

In [34]:
def get_time_and_write_to_dataframe(Algorithm):
    time_data_points= []

    for i in (10
              ,20,40,80,160,320,640,1280,2560,5120
              ,10240,20480,40960,81920
              ,163840,327680,655360,1310720
              ,2621440,5242880,10485760,):
        time =   timing_function(i, Algorithm ) 
        for each_time in time:
#             print (each_time)
            time_data_points.append( {'Sort_Type':Algorithm.__name__ , 'Data_Type_or_List_type':'random'
           ,'List_length':i, 'Runtimes': each_time ,  'Number_of_repeatitions':'7'
           ,'Datetime':pd.Timestamp.now() } )
    return time_data_points

In [35]:
# Do not run this part if you don't want the data again
list_of_dict = get_time_and_write_to_dataframe(np.sort)

In [36]:
df_= df_.append(list_of_dict)
df_

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
0,sort,random,10,0.340470,7,2019-11-01 15:26:20.067489
1,sort,random,10,0.271960,7,2019-11-01 15:26:20.067489
2,sort,random,10,0.258635,7,2019-11-01 15:26:20.067489
3,sort,random,10,0.256463,7,2019-11-01 15:26:20.067489
4,sort,random,10,0.260666,7,2019-11-01 15:26:20.067489
...,...,...,...,...,...,...
142,sort,random,10485760,9.443195,7,2019-11-01 15:29:25.397783
143,sort,random,10485760,9.356431,7,2019-11-01 15:29:25.397783
144,sort,random,10485760,9.909831,7,2019-11-01 15:29:25.397783
145,sort,random,10485760,6.484057,7,2019-11-01 15:29:25.397783
146,sort,random,10485760,4.427035,7,2019-11-01 15:29:25.397783

In [37]:
df_.to_csv (r'export_dataframe.csv', index = None, header=True)
df_

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
0,sort,random,10,0.340470,7,2019-11-01 15:26:20.067489
1,sort,random,10,0.271960,7,2019-11-01 15:26:20.067489
2,sort,random,10,0.258635,7,2019-11-01 15:26:20.067489
3,sort,random,10,0.256463,7,2019-11-01 15:26:20.067489
4,sort,random,10,0.260666,7,2019-11-01 15:26:20.067489
...,...,...,...,...,...,...
142,sort,random,10485760,9.443195,7,2019-11-01 15:29:25.397783
143,sort,random,10485760,9.356431,7,2019-11-01 15:29:25.397783
144,sort,random,10485760,9.909831,7,2019-11-01 15:29:25.397783
145,sort,random,10485760,6.484057,7,2019-11-01 15:29:25.397783
146,sort,random,10485760,4.427035,7,2019-11-01 15:29:25.397783

In [38]:
import pickle
name = 'data_frame.txt' 
f=open( name , 'ab')
pickle.dump(df_,f)
f.close()

In [39]:
read= pd.read_pickle("./data_frame.txt")
read

,Sort_Type,Data_Type_or_List_type,List_length,Runtimes,Number_of_repeatitions,Datetime
0,sort,random,10,0.340470,7,2019-11-01 15:26:20.067489
1,sort,random,10,0.271960,7,2019-11-01 15:26:20.067489
2,sort,random,10,0.258635,7,2019-11-01 15:26:20.067489
3,sort,random,10,0.256463,7,2019-11-01 15:26:20.067489
4,sort,random,10,0.260666,7,2019-11-01 15:26:20.067489
...,...,...,...,...,...,...
142,sort,random,10485760,9.443195,7,2019-11-01 15:29:25.397783
143,sort,random,10485760,9.356431,7,2019-11-01 15:29:25.397783
144,sort,random,10485760,9.909831,7,2019-11-01 15:29:25.397783
145,sort,random,10485760,6.484057,7,2019-11-01 15:29:25.397783
146,sort,random,10485760,4.427035,7,2019-11-01 15:29:25.397783

In [40]:
test_data= [4,5,6,6,4,3,9]
test_data= sorted(test_data, reverse=True)

In [41]:
test_data

[9, 6, 6, 5, 4, 4, 3]

In [3]:
pip show pickle

Note: you may need to restart the kernel to use updated packages.

In [3]:
pip show copy

Note: you may need to restart the kernel to use updated packages.

In [8]:
timeit.__version__

AttributeError: module 'timeit' has no attribute '__version__'

In [1]:
import pickle
import timeit
import copy